body, #name, #instruction-button, #message, #message-button {
    font: 18px Helvetica, Arial;
}

body {
    background-color: #F2F2F2;
    text-align: center;
    overflow-x: auto;
}

#game-button-wrapper {
    text-align: center;
}

.game-choice {
    display: inline-block;
}

.game-label {
    font-size: 30px;
}

#standard-button, #sushi-go-button {
    background-size: 300px 468px;
    width: 304px;
    height: 472px;
}

#standard-button {
    background-image: url("/imgs/standard/big_back.jpeg");
}

#sushi-go-button {
    background-image: url("/imgs/sushi_go/big_back.png");
}

#name {
    text-align: center;
}

#play-area {
    display: none;
    width: 100%;
    height: 100%;
}

#game-box {
    float: left;
    max-width: calc(100% - 310px);
}

#canvas {
    background-color: #FFFFFF;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

#right-column {
    float: left;
    height: 100%;
    width: 300px;
    padding-left: 10px;
}

#instructions {
    display: none;
    text-align: left;
    overflow: auto;
}

#instruction-button {
    width: 90%;
}

#chat-box {
    width: 100%;
}

#received-box {
    background-color: #FFFFFF;
    width: 100%;
    height: 800px;
    border: 1px solid black;
    text-align: left;
    list-style-type: none;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0px;
}

#received-box li {
    padding: 2px 2px;
    word-wrap: break-word;
}

#send-box {
    width: 100%;
    height: 30px;
    border: 0px;
}

#message {
    border: 1px solid black;
    width: 240px;
    height: 27px;
}

#message-button {
    background-color: #F2F2F2;
    width: 50px;
    height: 30px;
    text-align: center;
}

